  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :nombre, :"Nombre de la categoría" %>
    <%= form.text_field :nombre %>
  </div>
  
  <%= form.fields_for :campos do |builder| %>
    <%= render 'campo_campos', f: builder %>
  <% end %>

  <%= link_to_add_fields "Añadir campo", form, :campos %>
