<% provide :titulo, "Editar categoría #{@categoria.nombre}" %>
<h1>Editar categoría <%= @categoria.nombre %></h1>

<%= form_for(@categoria) do |f| %>

  <%= render 'form', form: f %>

  <div class="actions">
    <%= f.submit "Editar categoría", class: "btn btn-info btn-large boton-formulario" %>
  </div>

<% end %>

<%= link_to 'Ver', @categoria %>
<%= link_to 'Cancelar', categorias_path %>