<% provide(:titulo, @categoria.nombre) %>

<div class="detalles-categoria">
  <div class="row">
    <div class="hero-unit">
      <%= image_tag @categoria.foto.imagen.url(:thumb), class: :"imagen-categoria" if @categoria.foto %>
      <h1> <%= @categoria.nombre %> </h1>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <% @categoria.productos.each do |producto| %>
      <%= render 'productos/item_lista', producto: producto %>
    <% end %>
  </div>
  <% if identificado? && usuario_actual.admin %>
    <div class="acciones">
      <%= link_to "Editar", edit_categoria_path(@categoria) %>
      | <%= link_to "Eliminar", @categoria, method: :delete, prompt: "Este cambio no se puede deshacer. ¿Desea continuar?" %>
    </div>
  <% end %>
</div>
