<div class="row">
  <%= render 'shared/error_messages', object: form.object %>
</div>
<div class="row" id="informacion-basica">
  <div class="span8">
    <h3 class="centrado">Información básica</h3>
    <div class="row">
      <div class="span3 marca obligatorio">
        <%= form.label :nombre %>
      </div>
      <div class="span5">
        <%= form.text_field :nombre, size: 50 %>
      </div>
    </div>

    <div class="row">
      <div class="span3 marca obligatorio">
        <%= form.label :descripcion %>
      </div>
      <div class="span5">
        <%= form.text_area :descripcion, cols: 50, rows: 8 %>
      </div>
    </div>

    <div class="row">
      <div class="span3 marca obligatorio">
        <%= form.label :precio %>
      </div>
      <div class="span5">
        <%= form.number_field :precio %>
      </div>
    </div>  

    <div class="row">
      <div class="span3 marca">
        <%= form.label :descuento, "Descuento $" %>
      </div>
      <div class="span5">
        <%= form.number_field :descuento %>
      </div>
    </div>  

    <div class="row">
      <div class="span3 marca obligatorio">
        <%= form.label :cantidad, "Cantidad en stock" %>
      </div>
      <div class="span5">
        <%= form.number_field :cantidad %>
      </div>
    </div>

    <div class="row">
      <div class="span3 marca">
        <%= form.check_box :publicado %> 
      </div>
      <div class="span5">
        Publicado
      </div>
    </div>

    <div class="row">
      <div class="span3 marca">
        <label>Etiquetas</label>
      </div>
      <div class="span5">
        <%= form.text_field :etiqueta_list, size: 50 %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" id="info-categoria">
  <div class="span8">
    <h3 class="centrado">Información específica</h3>
    <div class="row">
      <div class="span3 marca obligatorio">
        <%= form.label :categoria %>
      </div>
      <div class="span5">
        <%= form.collection_select(:categoria_id, Categoria.all, :id, :nombre, {include_blank: true}, class: "chzn-select", "data-placeholder" => "Seleccione una categoria") %>
      </div>
    </div>
    <div class="row">
      <div class="span5 offset3">
        <%= link_to "Crear nueva categoría", new_categoria_path, id: :"crear-categoría" %>
      </div>
    </div>
    <div id="campos-categoria">
      <% if !@producto.categoria.nil? %>
        <%= form.hidden_field :categoria_id %>
        <%= form.fields_for :propiedades, OpenStruct.new(@producto.propiedades) do |builder| %>
          <% @producto.categoria.campos.each do |field| %>
            <%= render "productos/campos/#{field.tipo_campo}", campo: field, f: builder %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row" id="imagenes">
  <div class="span8">
    <h3 class="centrado">Imágenes</h3>
    <% @producto.fotos.each do |foto| %>
      <div class="row foto" id="foto-id-<%= foto.id %>">
        <div class="span9">
          <div class="fotico">
            <%= image_tag foto.imagen.url(:thumb) %>
          </div>
          <div class="span3">
            <%= link_to "Eliminar", producto_foto_path(@producto, foto), method: :delete, confirm: "¿Está seguro?", remote: true, class: :"eliminar-foto", :"data-id" => foto.id, :"data-type" => :json %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to_add_fields "Agregar otra imagen", form, :fotos %>
  </div>
</div>

<script type="text/html" id="plantilla-texto">
<div class="row">
  <div class="span3 marca">
    <label for="producto_propiedades_{{slug}}">{{nombre}}</label>
  </div>
  <div class="span5">
    <input id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]" size="30" type="text">
  </div>
</div>
</script>
<script type="text/html" id="plantilla-numero">
<div class="row">
  <div class="span3 marca">
    <label for="producto_propiedades_{{slug}}">{{nombre}}</label>
  </div>
  <div class="span5">
    <input id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]" type="number">
  </div>
</div>
</script>
<script type="text/html" id="plantilla-decimal">
<div class="row">
  <div class="span3 marca">
    <label for="producto_propiedades_{{slug}}">{{nombre}}</label>
  </div>
  <div class="span5">
    <input id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]" step="2" type="number">
  </div>
</div>
</script>
<script type="text/html" id="plantilla-texto_extenso">
<div class="row">
  <div class="span3 marca">
    <label for="producto_propiedades_{{slug}}">{{nombre}}</label>
  </div>
  <div class="span5">
    <textarea cols="50" id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]" rows="8"></textarea>
  </div>
</div>
</script>
<script type="text/html" id="plantilla-check_box">
<div class="row">
  <div class="span3 marca">
    <input name="producto[propiedades][{{slug}}]" type="hidden" value="checkbox_unchecked"><input id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]" type="checkbox" value="checkbox_checked"> 
  </div>
  <div class="span5">
    {{nombre}}
  </div>
</div>
</script>
<script type="text/html" id="plantilla-opciones">
<div class="row">
  <div class="span3 marca">
    <label for="producto_propiedades_{{slug}}">{{nombre}}</label>
  </div>
  <div class="span5">
    <select id="producto_propiedades_{{slug}}" name="producto[propiedades][{{slug}}]">
      {{#opciones}}
        <option value="{{valor}}">{{nombre}}</opcion>
      {{/opciones}}
    </select>
  </div>
</div>
</script>
