<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>

<p>
  <b>Categoria:</b>
  <%= @producto.categoria %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>
<% @producto.fotos.each_with_index do |foto, i| %>
  <%= i %>
  <% if i == 0 %>
    <%= image_tag foto.imagen.url(:normal) %>
  <% else %>
    <%= image_tag foto.imagen.url(:thumb) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
