<% provide(:titulo, @producto.nombre) %>
<h1> <%= @producto.nombre %> </h1>
<div class="detalles-producto">
  <div class="row">
    <div class="span6 fotos">
      <% @producto.fotos.each_with_index do |foto, i| %>
        <% if i == 0 %>
          <%= link_to((image_tag foto.imagen.url(:normal), class: :"main-foto"), foto.imagen.url(:normal), class: :"foto") %>
        <% elsif i < 5 %>
          <%= link_to((image_tag foto.imagen.url(:thumb), class: :"thumb-foto"), foto.imagen.url(:normal), class: :"foto") %>
        <% else %>
          <%= link_to((image_tag foto.imagen.url(:thumb), class: :"thumb-foto"), foto.imagen.url(:normal), class: :"foto", style: :"display:none") %>
        <% end %>
      <% end %>
    </div>
    <div class="span6">
      <div class="descripcion">
        <h3>Descripción</h3>
        <p><%= @producto.descripcion %></p>
      </div>
      <div class="detalles-producto">
        <h3>Detalles del producto</h3>
        <% @producto.propiedades.each do |propiedad, valor| %>
          <% unless valor.blank? %>
            <div class="row">
              <div class="span3">
                <b><%= propiedad %>:</b>
              </div>
              <div class="span3">
                <% if valor == 'checkbox_checked' %>
                  Si
                <% elsif valor == 'checkbox_unchecked' %>
                  No
                <% else %>
                  <%= valor %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="social-producto">
        <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false" ></div>
        <div class="tweet-this">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="lachiquitienda" data-lang="es" data-size="large" data-related="lachiquitienda">Twittear</a>
        </div>
        <div class="google-plus-one"><div class="g-plusone"></div></div>
        <div class="pinterest">
          <a data-pin-config="beside" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
        </div>
      </div>
      <div class="precio-producto">
        <% if @producto.descuento && (@producto.descuento != 0) %>
          <div class="precio-antes">
            Antes
            <span class="contenedor-antes">
              <%= raw precio @producto.precio %>
              <div class="tachado"></div>
            </span>
          </div>
          <div class="precio">ahora solo <%= raw precio(@producto.precio - @producto.descuento) %></div>
        <% else %>
          <div class="precio"><%= raw precio @producto.precio %></div>
        <% end %>
      </div>
      <div class="carrito">
        <%= link_to raw("<i class='icon-shopping-cart icon-white'></i>Añadir al carrito"), new_item_path(producto: @producto.id), remote: true, class: "btn btn-info btn-large" %>
      </div>
    </div>
  </div>
  <div id="comentarios"></div>
  <% if identificado? && usuario_actual.admin %>
    <div class="acciones">
      <%= link_to :"Editar", edit_producto_path(@producto) %>
      | <%= link_to :"Eliminar", producto_path(@producto), method: :delete, prompt: "Este cambio no se puede deshacer. ¿Desea continuar?" %>
    </div>
  <% end %>
</div>
<% content_for :descripcion do %><%= @producto.descripcion %><% end %>
<% unless @producto.etiqueta_list.blank? %>
  <% content_for :keywords do %><%= @producto.etiqueta_list %><% end %>
<% end %>