<%= form_for(@item, remote: true) do |f| %>
  <table class="carrito">
    <tr>
      <%= f.hidden_field :producto_id, value: @producto.id %>
      <td class="foto"><%= link_to(image_tag(@producto.fotos.first.imagen.url(:thumb)), @producto) %></td>
      <td class="producto"><h4><%= @producto.nombre %></h4></td>
      <td class="cantidad"> <%= f.number_field :cantidad, placeholder: :Cantidad, value: 1 %></td>
      <td class="acciones"> <%= f.submit "Agregar", class: "btn btn-primary" %></td>
    </tr>
  </table>
<% end %>
