<h2>Mi carrito de compras</h2>

<table class="carrito">
<% total = 0 %>
<% @items.each do |item| %>
  <tr>
    <td class="foto"><%= link_to(image_tag(item.producto.fotos.first.imagen.url(:thumb)), item.producto) %></td>
      <td class="producto"><h4><%= link_to(item.producto.nombre, item.producto) %></h4></td>
    <%= form_for(item, remote: true) do |f| %>
        <td class="cantidad"><%= f.number_field :cantidad, value: item.cantidad, placeholder: "Cantidad" %></td>
        <td id="precio-<%= item.id %>"><%= number_to_currency item.total, precision: 0 %></td>
        <td>
            <%= link_to raw('<i class="icon-trash icon-white"></i>Eliminar'), item, method: :delete, data: { confirm: '¿Está seguro?', type: :json }, remote: true, class: "btn btn-danger eliminar-item" %>
            <%= f.submit "Actualizar", class: "btn btn-info" %>
        </td>
        <% total += item.total %>
    <% end %>
  </tr>
<br />

<% end %>
</table>

<div class="total">
  Total items en carrito: <span id="total-carrito"><%= number_to_currency total, precision: 0 %></span>
</div>

<script>
  var total = <%= total %>;
</script>