<%= form_for(@usuario) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :nombre, "Nombre" %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :nick, "¿Como quieres que te llamemos? (Opcional)"%>
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :email, "Correo electrónico" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirm, "Confirma tu contraseña" %>
    <%= f.password_field :password_confirm %>
  </div>
  <div class="field">
    <%= f.label :acerca_de_mi, "Escribe algo sobre ti (opcional)" %>
    <%= f.text_area :acerca_de_mi, rows: 8 %>
  </div>
  <div class="boton-formulario">
    <%= f.submit "Registrarme", class: "btn btn-info boton-formulario" %>
  </div>
<% end %>
