<h1>Actualizar mi información</h1>
<div class="row">
  <div class="span7">
    <%= form_for(@usuario) do |f| %> 
      <%= render 'shared/error_messages', object: f.object %>
      <div class="row centrado">
        <%= imagen_de @usuario %>
        <a href="http://gravatar.com/emails">Cambiar avatar</a>
      </div>
      <div class="row">
        <div class="span4 marca">
          <%= f.label :nombre, "Nombre" %>
        </div>
        <div class="span3">
          <%= f.text_field :nombre %>
        </div>
      </div>
      <div class="row">
        <div class="span4 marca">
          <%= f.label :nick, "¿Como te gustaría que te llamemos?" %>
        </div>
        <div class="span3">
          <%= f.text_field :nick %>
        </div>
      </div>
      <div class="row">
        <div class="span4 marca">
          <%= f.label :genero, "Género" %>
        </div>
        <div class="span3">
          <div>
            <%= f.radio_button :genero, "Hombre" %> Hombre
          </div>
          <div>
            <%= f.radio_button :genero, "Mujer" %> Mujer
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4 marca">
          <%= f.label :email, "Correo electrónico" %>
        </div>
        <div class="span3">
          <%= f.text_field :email %>
        </div>
      </div>
      <div id="modificar-password">
        <div class="row centrado" id="activar-modificar-password" >
          <a href="#">Modificar contraseña</a>
            <script type="text/html" id="plantilla-password">
              <div class="row">
                <div class="span4 marca">
                  <%= f.label :password, "Contraseña" %>
                </div>
                <div class="span3">
                  <%= f.password_field :password %>
                </div>
              </div>
              <div class="row">
                <div class="span4 marca">
                  <%= f.label :password_confirmation, "Confirma tu contraseña" %>
                </div>
                <div class="span3">
                  <%= f.password_field :password_confirmation %>
                </div>
              </div>
            </script>
        </div>
      </div>
      <div class="row">
        <div class="span4 marca">
          <%= f.label :acerca_de_mi, "Cuentanos algo sobre tí" %>
        </div>
        <div class="span3">
          <%= f.text_area :acerca_de_mi, rows: 8 %>
        </div>
      </div>
      <div class="centrado span7">
        <%= f.submit "Actualizar perfil", class: "btn btn-info btn-large boton-formulario" %>
      </div>
    <% end %>
  </div>
  <div class="span5">
    <!-- % if no esta conectado con facebook %>
      <h3>Conéctate con tu cuenta en facebook</h3>
      <a href="" id="conectar-con-facebook">
        <img src="" alt="Conectar con facebook" />
      </a>
    < % end %-->
  </div>
</div>
<%= link_to 'Cancelar', @usuario %>