<% provide(:titulo, "Lista de usuarios") %>
<h1>Lista de usuarios</h1>

<%= form_tag usuarios_path, method: :get do %>
  <div>
    <%= text_field_tag :buscar, params[:buscar], style: "margin-bottom:0", class: "search-query" %>
    <%= submit_tag "Buscar", :name => nil, class: "btn btn-small" %>
  </div>
<% end %>

<%= will_paginate %>
<ul class="lista usuarios">
  <% @usuarios.each do |usuario| %>
    <li>
      <%= link_to usuario.nombre, usuario %>
      <% if usuario_actual.admin %>
        | <%= link_to "Eliminar", usuario, method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
