<% provide(:titulo, @post.titulo) %>
<h1><%= @post.titulo %></h1>
<div class="detalle-post">
  <% unless @post.publicado %>
    <div class="alert">No ha sido publicado</div>
  <% end %>
  <div class="info-post">Publicado el <%= l @post.created_at, format: "%d de %B de %Y a las %I:%M %P" %> por <%= @post.autor.nombre %></div>
  <div class="contenido">
    <%= raw @post.contenido %>
  </div>
  <% if @post.tag_list.count > 0 %>
    <div class="etiquetas">
      Etiquetado en: 
      <% @post.tags.each do |t| %>
        <span class="badge badge-inverse tag"><%= link_to t.to_s,posts_path(etiquetas: t.to_s) %></span>
      <% end %>
    </div>
  <% end %>
  <div id="comentarios"></div>
  <% if identificado? && usuario_actual.admin %>
    <div class="acciones">
      <%= link_to "Editar", edit_post_path(@post) %>
      | <%= link_to "Eliminar", post_path(@post), method: :delete, prompt: "Este cambio no se puede deshacer. ¿Desea continuar?" %>
    </div>
  <% end %>
  <div class="social-post row">
    <div class="facebook span3">
      <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false" data-action="recommend"></div></div>
    <div class="google-plus span3"><div class="g-plusone"></div></div>
    <div class="twitter span3">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="lachiquitienda" data-lang="es" data-size="large" data-related="lachiquitienda">Twittear</a>
    </div>
    <div class="pinterest span3">
      <a data-pin-config="beside" href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
    </div>
  </div>
</div>
<% content_for :descripcion do %><%= strip_tags @post.contenido.split('<!-- leer_mas -->').first %><% end %>
<% unless @post.tag_list.blank? %>
  <% content_for :keywords do %><%= @post.tag_list %><% end %>
<% end %>