<div class="row">
  <div class="span3">
    <ul>
      <li> <i class="icon-bullhorn icon-white"></i> <%= link_to :"Acerca de nosotros", acerca_de_nosotros_path  %></li>
      <li> <i class="icon-pencil icon-white"></i> <%= link_to :"Escríbenos", "#"  %></li>
      <li>  <i class="icon-thumbs-up icon-white"></i><%= link_to :"Agradecimientos", agradecimientos_path  %></li>
    </ul>
  </div>
  <div class="span5">
    <ul>
      <li><%= link_to :"Facebook", "https://facebook.com/lachiquitienda", target: :_blank %></li>
      <li><%= link_to :"Twitter", "https://twitter.com/lachiquitienda", target: :_blank %></li>
      <li><%= link_to :"Pinterest", "https://pinterest.com/lachiquitienda", target: :_blank %></li>
    </ul>
  </div>
  <div class="span4">
    <ul>
      <li><%= link_to :"Pedidos y devoluciones", pedidos_y_devoluciones_path  %></li>
      <li><%= link_to :"Politica de privacidad", politica_de_privacidad_path %></li>
      <li><%= link_to :"Condiciones del servicio", condiciones_del_servicio_path %></li>
    </ul>
  </div>
</div>
